@model FinalDAW2.Models.Post

<h2 class="text-center mt-5">Adaugare postare</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Posts",
            method: FormMethod.Post))
            {
                <input type="hidden" name="GroupId" value="@Model.GroupId">

                @Html.ValidationMessage("Continut", null, new { @class = "text-danger" })
                @Html.Label("Continut")
                <br />
                @Html.TextArea("Continut", null, new { @class = "form-control", placeholder = "La ce te gandesti azi?" })

                <br />

                <br />

                <div class="d-flex justify-content-center">
                    <!-- Butonul "Adauga postare" -->
                    <button class="btn btn-success mr-2" type="submit">Adauga postare</button>

                    <!-- Spatiu de 10% între butoane -->
                    <div style="width: 10%;"></div>

                    <!-- Butonul "Sterge" -->
                    <button class="btn btn-danger ml-2" type="button" id="clearText">Sterge</button>
                </div>

            }

        </div>
    </div>
</div>

<!-- Script pentru ștergerea textului din caseta de text -->
<script>
    document.getElementById('clearText').addEventListener('click', function() {
        document.getElementsByName('Continut')[0].value = '';
    });
</script>
